{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Activities {% endblock title %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content %}

<h1>Modules</h1>

<p>Here is where you you can gain knowledge to aquire more skills that will help you with your case!</p>

<h2> Completed Modules </h2>

{% if modules %}
	{% for m in modules %}
		{% if m.permissions < user_permissions && m.skill = A %}
			<li> <a href="{{url_for('modules', module = m.module)}}"> {{ m.module }} </a></li>
		<!-- % else %} 
			<li> None </li> -->
		{% endif %}
	{% endfor %}
{% endif %}


<h2> Active Modules </h2>

{% if modules %}
	{% for m in modules %}
		{% if m.permissions == user_permissions && m.skill = A %}
			<li> <a href="{{ url_for( 'modules', module = m.module ) }}"> {{ m.module }} </a></li>
		{% endif %}
	{% endfor %}
{% endif %}

<h2> Locked Modules </h2>


{% if modules %}
	{% for m in modules %}
		{% if m.permissions > user_permissions && m.skill = A %}
			<li> <a href="{{ url_for( 'modules', module = m.module ) }}"> {{ m.module }} </a></li>
		<!-- % else %}
			<li> None </li> -->
		{% endif %}
	{% endfor %}
{% endif %}




{%- endblock page_content %}