{% extends "projects.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block project_intro %}

<p>Now you have access to n-grams as features!  You now have acces to the following features:</p>

<li>"SPS" (sentence-initial part of speech)</li>
<li>"PSU" (part of speech unigrams)</li>
<li>"PSB" (part of speech bigrams)</li>
<li>"PST" (part of speech trigrams)</li>
<li>"FWF" (function word frequency)</li>
<li>"CjF" (conjunction word frequency)</li>

<p>In addition to your previous features:</p>


<li>"AWL" (average word length)</li>
<li>"ASL" (average sentence length)</li>
<li>"PF" (punctuation frequency)</li>
<li>"FPF" (final punctuation frequency)</li>
<li>"CF" (contraction frequency)</li>
<li>"CBG" (character bigrams)</li>
<li>"CTG" (character trigrams)</li>

{% endblock project_intro %}

{% block demonstration %}

<iframe src="https://trinket.io/embed/python/25f20461be" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

{% endblock demonstration %}

{% block demo_scripts %}

{% endblock demo_scripts %}