{% extends "projects.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block project_intro %}

<p>Now that you know about n-grams, you now have acces to the following features:</p>

<li>"CBG" (character bigrams)</li>
<li>"CTG" (character trigrams)</li>

<p>In addition to your previous features:</p>

<li>"AWL" (average word length)</li>
<li>"ASL" (average sentence length)</li>
<li>"PF" (punctuation frequency)</li>
<li>"FPF" (final punctuation frequency)</li>
<li>"CF" (contraction frequency)</li>

{% endblock project_intro %}

{% block demonstration %}

<iframe src="https://trinket.io/embed/python/9a55646f8c" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

{% endblock demonstration %}

{% block demo_scripts %}

{% endblock demo_scripts %}