{% extends "projects.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block project_intro %}

<h2>Introduction</h2>

<p>By now you ought to have read through the case <a href=""><i>Picture Imperfect</i></a>, which is already a solved murder mystery.  We will be using the documents from this murder mystery to <i>train</i> our Authorship Detection System.  What this means, is that will will configure our system to the point where we know that it can correctly identify the author of a document.  At that point, we can apply the system that we have to our unsolved murder mystery documents, and correctly identify the author of the suicide note - the murderer.</p>

<p>Well how does one <i>configure</i> the Authorship Detection System?  While there are some advanced techniques, we'll be focusing on the foundation and most critical part of the system - the features.  What are the features?  They tell the system the things to look for in the document, the characteristics about the author's writing to look at when determining authorship.<p/>

<p>You've already learned a little about features and how <i>frequency</i> is used as a measuring tool when investigating these features.</p>

{% endblock project_intro %}

{% block demonstration %}

{% endblock demonstration %}

{% block demo_scripts %}

{% endblock demo_scripts %}