{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Cases {% endblock title %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content %}

<h1>Case Files</h1>

<p>Here is your manilla envelope of all your cases.</p>

<h2>Completed Cases</h2>

<li><a href="{{url_for( 'case_files', case = 'greg_walkers' )}}"> Greg Walkers </a></li>
{% if xp > solved_level %}
	<li><a href="{{url_for('case_files', case = 'harold_humphrey')}}">Harold Humphrey</a></li>
{% endif %}

<h2>Active Cases</h2>
{% if xp < solved_level %}
	<li><a href="{{url_for('case_files', case = 'harold_humphrey')}}">Harold Humphrey</a></li>
{% endif %}

<!-- <h2>Closed Cases</h2>

<li>None</li> -->

<h2>Pick up another case!</h2>

<li>Check again later!</li>



{% endblock page_content %}