{% extends "base.html" %}

{% block page_content %}
<li>frier	frYr
</li><li>godar	g^dAr
</li><li>massacred	mas^krd
</li><li>leander	liandr
</li><li>clubhouse	kl^bhWs
</li><li>ecru	Ekru
</li><li>thorp	TOrp
</li><li>masao	mAsAo
</li><li>ageratum	^JEr^t^m
</li><li>dawn	dOn
</li><li>fastenings	fas^nINz
</li><li>phonographs	fon^grafs
</li><li>nicol	nIkOl
</li><li>draconian	drekoni^n
</li><li>marrocco	mAroko
</li><li>decipher	dIsYfr
</li><li>futurism	fjuCrIz^m
</li><li>bigtime	bIgtYm
</li><li>clyte	klYt
</li><li>neece	nis
</li><li>sloppier	slApir
</li><li>wenig	wEnIg
</li><li>amax	emaks
</li><li>jaycee	Jesi
</li><li>cryderman	krYdrm^n
</li><li>bigots	bIg^ts
</li><li>lynskey	lInski
</li><li>guesstimate	gEstImIt
</li><li>dado	dedo
</li><li>aesthetes	EsTits
</li><li>seinfeld's	sYnfEldz
</li><li>yarbough	jArbW
</li><li>coalition's	ko^lIS^nz
</li><li>magistro	mAJistro
</li><li>egberta	egbErt^
</li><li>tullar	t^lr
</li><li>uppermost	^prmost
</li><li>buell	bju^l
</li><li>dictatorial	dIkt^tOri^l
</li><li>casson	kas^n
</li><li>valderrama	vAldErAm^
</li><li>childrey	CIldri
</li><li>docudrama	dok^dram^
</li><li>thede	Tid
</li><li>mauer	mWr
</li><li>new_haven	nuhev^n
</li><li>lits	lIts
</li><li>managua	m^nAgw^
</li><li>mul's	mUlz
</li><li>tillinghast	tIlINhast
</li><li>hamburger	hambrgr
</li><li>rood	rud
</li><li>arbitraging	Arb^trAJIN
</li><li>plan	plan
</li><li>steakhouses	stekhWsIz
</li><li>porter's	pOrtrz
</li><li>schutte	sk^t
</li><li>ambergris	ambrgrIs
</li><li>dufford	d^frd
</li><li>borman	bOrm^n
</li><li>neace	nis
</li><li>portable	pOrt^b^l
</li><li>piccione	pikConi
</li><li>conference	kAnfr^ns
</li><li>ciresi	sIrEsi
</li><li>anklet	aNklIt
</li><li>laseter	lasitr
</li><li>advent	advEnt
</li><li>towards	t^wOrdz
</li><li>microbreweries	mYkrobruriz
</li><li>lozenges	lOz^nJ^z
</li><li>horsham's	hOrS^mz
</li><li>oelrich	olrIk
</li><li>impregnate	ImprEgnet
</li><li>parsky	pArski
</li><li>elcock	IlkAk
</li><li>neuber	nubr
</li><li>ligands	lIg^ndz
</li><li>fritzi	fritzi
</li><li>mcree	m^kri
</li><li>zyman	zYm^n
</li><li>fross	frOs
</li><li>wiencek	vinCEk
</li><li>bystrom	bIstr^m
</li><li>hattan	hat^n
</li><li>automatic	Ot^matIk
</li><li>kuril	kr^l
</li><li>tabulate	tabj^let
</li><li>haase	hAs
</li><li>beitzel	bYtz^l
</li><li>foment	fomEnt
</li><li>bonnie	bAni
</li><li>halters	hOltrz
</li><li>margalo	mArgAlo
</li><li>comprise	k^mprYz
</li><li>stubbornness	st^brnn^s
</li><li>norgard	nOrgrd
</li><li>yagoda	j^god^
</li><li>appian	api^n
</li><li>gibb's	gIbz
</li><li>invitron's	InvItrAnz
</li><li>bunt's	b^nts
</li><li>fundamentally	f^nd^mEnt^li
</li><li>otts	Ats
</li><li>instantaneous	Inst^ntani^s
</li><li>extols	Ikstolz
</li><li>neumeyer	numYr
</li><li>passbooks	pasbUks
</li><li>buchholz	b^kholz
</li><li>mcphearson	m^kfrs^n
</li><li>boutelle	butEl
</li><li>eveleth	EvIlIT
</li><li>leann	lian
</li><li>applauds	^plOdz
</li><li>camrys	kamriz
</li><li>battening	bat^nIN
</li><li>douche	duS
</li><li>headlund	hEdl^nd
</li><li>allens	al^nz
</li><li>bellowing	bEloIN
</li><li>sullo	sulo
</li><li>nonperforming	nAnprfOrmIN
</li><li>neutrinos	nutrinoz
</li><li>youngster's	j^Nstrz
</li><li>knapsack	napsak
</li>
{% endblock page_content %}