{% extends "base.html" %}

{% block page_content %}
<li>cocklin	kAklIn
</li><li>haddock	had^k
</li><li>kalgoorlie	kalgurli
</li><li>friary	frYri
</li><li>messerschmidt	mEsrSmIt
</li><li>siebers	sibrz
</li><li>jet	JEt
</li><li>delph	dElf
</li><li>alitalia	alIteli^
</li><li>sinegal	sInIg^l
</li><li>gissendanner	gIsInd^nr
</li><li>self-govern	sElfg^vrn
</li><li>ingalsbe	INg^lsbi
</li><li>grunts	gr^nts
</li><li>esque	Esk
</li><li>wield	wild
</li><li>keno	kino
</li><li>cyan	sYan
</li><li>mcnee	m^kni
</li><li>spraining	sprenIN
</li><li>eschen	ES^n
</li><li>yacko	jako
</li><li>jamal	J^mAl
</li><li>mobilizations	mob^l^zeS^nz
</li><li>snoopy	snupi
</li><li>astonished	^stAnISt
</li><li>spruell	sprul
</li><li>kay's	kez
</li><li>testamentary	tEst^mEntri
</li><li>reiterated	riItretId
</li><li>berka	brk^
</li><li>deshotels	dES^t^lz
</li><li>ruffin	r^fIn
</li><li>knicker	nIkr
</li><li>armacost	Arm^kOst
</li><li>ihlenfeldt	IlInfIlt
</li><li>st-johns	sentJAnz
</li><li>avmark	avmArk
</li><li>elardo	ElArdo
</li><li>regulative	rEgj^letIv
</li><li>fitfully	fItf^li
</li><li>randy's	randiz
</li><li>work's	wrks
</li><li>guin	gIn
</li><li>fribourg	frYbOrg
</li><li>nimbus	nImb^s
</li><li>dutro	d^tro
</li><li>boris'	bOrIs
</li><li>stabilization	steb^l^zeS^n
</li><li>marinkovich	mrINk^vIC
</li><li>hugging	h^gIN
</li><li>fishlow	fISlo
</li><li>nudes	nudz
</li><li>misquoted	mIskwotId
</li><li>winning	wInIN
</li><li>consequently	kAns^kw^ntli
</li><li>yearbooks	jIrbUks
</li><li>doucette	dusEt
</li><li>langenbach	leNgInbAk
</li><li>j's	Jez
</li><li>scheidler	SYd^lr
</li><li>elbrick	ElbrIk
</li><li>citizenry's	sItIz^nriz
</li><li>irkutsk	rkUtsk
</li><li>paradigm	pEr^dYm
</li><li>borgess	bOrgIs
</li><li>sepik	sEpIk
</li><li>feudalistic	fjud^lIstIk
</li><li>duffett	d^fIt
</li><li>leumi	lumi
</li><li>weisberger	wYsbrgr
</li><li>koeppen	kop^n
</li><li>wilting	wIltIN
</li><li>speculators	spEkj^letrz
</li><li>pseudo	sudo
</li><li>molson	mols^n
</li><li>cherie	SEri
</li><li>keitel	kYt^l
</li><li>wattled	wAt^ld
</li><li>jitters	JItrz
</li><li>crews	kruz
</li><li>rhymer	rYmr
</li><li>herin	hErIn
</li><li>sided	sYd^d
</li><li>abandonment	^band^nm^nt
</li><li>drivel	drIv^l
</li><li>movida	muvid^
</li><li>rudesill	r^dIs^l
</li><li>fahs	fas
</li><li>whores	hOrz
</li><li>jimi	JImi
</li><li>multibillion	m^ltYbIlj^n
</li><li>barcia	bArC^
</li><li>woolfork	wUlfOrk
</li><li>miller	mIlr
</li><li>vandegrift	vand^grIft
</li><li>kircher	krkr
</li><li>mops	mAps
</li><li>knicker	nIkr
</li><li>jividen	jivYd^n
</li><li>peoples	pip^lz
</li><li>carlini	kArlini
</li><li>wrobleski	r^blEski
</li><li>lovvorn	lAvrn
</li><li>skenderian	skEndEri^n
</li><li>iconoclastic	Yk^n^klastIk
</li><li>worrall	wrr^l
</li><li>ferromagnet	fEromagn^t
</li><li>papal	pep^l
</li><li>schlund	Sl^nd
</li><li>grabbe	grab
</li><li>writedown	rYtdWn
</li><li>bangkok's	baNkAks
</li><li>heisman's	hYsm^nz
</li><li>developments	dIvEl^pm^nts
</li><li>beske	bEsk
</li><li>rulebook	rulbUk
</li><li>fairly	fErli
</li><li>rasch	raS
</li><li>doin'	duIn
</li><li>celona	CElon^
</li><li>missourians	m^zUri^nz
</li><li>studying	st^diIN
</li><li>rockholt	rAkholt
</li><li>heathwood	hiTwUd
</li>
{% endblock page_content %}