{% extends "base.html" %}

{% block page_content %}
<li>maloney	m^loni
</li><li>priess	pris
</li><li>bels	bElz
</li><li>fight's	fYtz
</li><li>bukavu's	bukAvuz
</li><li>kitowski	kItOfski
</li><li>intellectualism	IntEl^kCu^lIz^m
</li><li>poole	pul
</li><li>auten	Wt^n
</li><li>gynecologist	gYn^kAl^J^st
</li><li>whispers	wIsprz
</li><li>complexities	k^mplEksItiz
</li><li>mcclurkin	m^klrk^n
</li><li>deveraux	dEvro
</li><li>candee	kandi
</li><li>schake	Sek
</li><li>crafton	kraft^n
</li><li>compute	k^mpjut
</li><li>gutzwiller	g^tswIlr
</li><li>tetterton	tEtrt^n
</li><li>bald	bOld
</li><li>zeiss	zYs
</li><li>afrikaner	afr^kAnr
</li><li>nivison	nIvIs^n
</li><li>telugu	tElUgu
</li><li>patman	patm^n
</li><li>benigna	bEnign^
</li><li>generalize	JEnr^lYz
</li><li>scruton	skrut^n
</li><li>minas	min^s
</li><li>sfernice	sfrnIs
</li><li>farago	fArAgo
</li><li>shackleford	Sak^lfrd
</li><li>goodbyes	gUdbYz
</li><li>rhee	ri
</li><li>essner	Esnr
</li><li>winslet	wInslIt
</li><li>slayer	sler
</li><li>limpets	lImp^ts
</li><li>spatial	speS^l
</li><li>gondwanaland	gAndwAnAland
</li><li>starrs	stArz
</li><li>lifeboat	lYfbot
</li><li>blakeley's	blekliz
</li><li>buckle	b^k^l
</li><li>nematodes	nEm^todz
</li><li>seated	sit^d
</li><li>ensinger	EnsInJr
</li><li>busied	bIzid
</li><li>murtha	mrT^
</li><li>chainsaw	CensO
</li><li>montmartre	mAnmartr^
</li><li>wazir's	wAzIrz
</li><li>ticonderoga	tYkAndrog^
</li><li>cola's	kol^z
</li><li>maskell	mask^l
</li><li>kirchberg	krkbrg
</li><li>zieman	zim^n
</li><li>hutton	h^t^n
</li><li>secessionists	sIsES^nIsts
</li><li>sunglasses	s^nglasIz
</li><li>lentzsch	lEnts
</li><li>convalesce	kAnv^lEs
</li><li>feldmann	fEldm^n
</li><li>jury's	JUriz
</li><li>binegar	bInIgr
</li><li>carcione	kArConi
</li><li>intermission	IntrmIS^n
</li><li>beuys	bjuiz
</li><li>evangeline	IvanJIlYn
</li><li>pseudo	sudo
</li><li>peggy	pEgi
</li><li>cosmonauts'	kOzm^nOts
</li><li>millwood	mIlwUd
</li><li>mothering	m^DrIN
</li><li>duelist	du^lIst
</li><li>transchannel's	tr^nsCan^lz
</li><li>i've	Yv
</li><li>vanoss	vanAs
</li><li>wasserman's	wAsrm^nz
</li><li>bruening	brunIN
</li><li>stancliff	stanklIf
</li><li>tuxhorn	t^kshrn
</li><li>winslet	wInslIt
</li><li>droves	drovz
</li><li>amassed	^mast
</li><li>accurso	AkUrso
</li><li>glasslike	glaslYk
</li><li>speckle	spEk^l
</li><li>ciliberto	CilibErto
</li><li>williford	wIlIfrd
</li><li>decision-maker	dIsIZ^nmekr
</li><li>derek	dErIk
</li><li>tinnon	tIn^n
</li><li>gilby	gIlbi
</li><li>wiltz	wIlts
</li><li>coyle	kyl
</li><li>monastic	m^nastIk
</li><li>favre	fevr
</li><li>fountains	fWnt^nz
</li><li>sungard	s^ngArd
</li><li>gilded	gIldId
</li><li>anacker	an^kr
</li><li>goede	god
</li><li>rafferty	rafrti
</li><li>gvaryahu	g^vErjAhu
</li><li>fullenwider	fUl^nwYdr
</li><li>slathering	slaDrIN
</li><li>redirection	ridrEkS^n
</li><li>finkelstein	fINk^lstin
</li><li>digs	dIgz
</li><li>maida	med^
</li><li>lisle	lY^l
</li><li>guessed	gEst
</li><li>fairytale	fEritel
</li><li>buoyancy	by^nsi
</li><li>hainsworth	henswrT
</li><li>appreciate	^priSiet
</li><li>defeo	difio
</li><li>devlin	dEvlIn
</li><li>unfav	^nfev
</li><li>nonchalant	nAnS^lAnt
</li><li>snively	snYvli
</li><li>angela	anJ^l^
</li><li>cairn	kErn
</li>
{% endblock page_content %}