{% extends "base.html" %}

{% block page_content %}
<li>watershed	wOtrSEd
</li><li>liquidator	lIkwIdetr
</li><li>dufrane	d^fren
</li><li>striegel	strig^l
</li><li>seith	siT
</li><li>dorothy's	dOr^Tiz
</li><li>snake	snek
</li><li>lactic	laktIk
</li><li>fitting	fItIN
</li><li>mahone	mah^n
</li><li>exerciser	EksrsYzr
</li><li>aftermath	aftrmaT
</li><li>cirino	srino
</li><li>lambert	lambrt
</li><li>stentors	stEntrz
</li><li>bebeau	bIbo
</li><li>gillin	gIlIn
</li><li>frogmouth	frAgmWT
</li><li>hedrick	hEdrIk
</li><li>gingerly	JInJrli
</li><li>alphonsine	^lfAnsin
</li><li>fixation	fIkseS^n
</li><li>debes	dibz
</li><li>willmore	wIlmOr
</li><li>riffing	rIfIN
</li><li>actually	akCu^li
</li><li>accepts	aksEpts
</li><li>wicca	wIk^
</li><li>forrer	fOrr
</li><li>basten	best^n
</li><li>sitzman	sItsm^n
</li><li>befuddles	bIf^d^lz
</li><li>kohls	kolz
</li><li>repack	ripak
</li><li>emits	ImIts
</li><li>actus	akt^s
</li><li>mulhall	m^lh^l
</li><li>caribbean	kErIbi^n
</li><li>larison	larIs^n
</li><li>soviets'	soviEts
</li><li>attard	atArd
</li><li>accreditations	^krEd^teS^nz
</li><li>hilda	hIld^
</li><li>squeaky	skwiki
</li><li>minehan	mInIhan
</li><li>refueled	rifju^ld
</li><li>engraved	Ingrevd
</li><li>partyka	prtIk^
</li><li>mealer	milr
</li><li>bulldoze	bUldoz
</li><li>goldcor	goldkOr
</li><li>robertson	rAbrts^n
</li><li>shitstorm	SItstOrm
</li><li>moncada	monkAd^
</li><li>elster	Elstr
</li><li>kangaroos	kaNgruz
</li><li>etiology	itiAl^Ji
</li><li>algeo	alJio
</li><li>testicle	tEstIk^l
</li><li>treatments	tritm^nts
</li><li>pinged	pINd
</li><li>alienate	elj^net
</li><li>cronin	kronIn
</li><li>kappelman	kap^lm^n
</li><li>invertebrates	Invrt^br^ts
</li><li>caricatures	kErIk^Crz
</li><li>audit	OdIt
</li><li>darn	dArn
</li><li>pacts	pakts
</li><li>ballantrae	bal^ntre
</li><li>remain	rImen
</li><li>overstuff	ovrst^f
</li><li>lilley	lIli
</li><li>territories	tEr^tOriz
</li><li>proportionately	pr^pOrS^n^tli
</li><li>childhoods	CYldhUdz
</li><li>hefley	hEfli
</li><li>pulverize	p^lvrYz
</li><li>haessly	hasli
</li><li>acuity	^kju^ti
</li><li>skimmers	skImrz
</li><li>blasphemous	blasf^m^s
</li><li>machivelli	mak^vEli
</li><li>metaphysical	mEt^fIzIk^l
</li><li>lovings	l^vINz
</li><li>satoh	sAto
</li><li>bondra	bAndr^
</li><li>nevarach	n^vAr^C
</li><li>bruni	bruni
</li><li>furniss	frnIs
</li><li>buddies	b^diz
</li><li>mcbeth	m^kbET
</li><li>visegrad	vIs^grad
</li><li>jersey's	Jrziz
</li><li>saiki	seki
</li><li>veech	viC
</li><li>images	Im^J^z
</li><li>udagawa	udAgAw^
</li><li>potentially	p^tEnS^li
</li><li>maltbie	maltbi
</li><li>melisent	mElIs^nt
</li><li>insufficiently	Ins^fIS^ntli
</li><li>computerized	k^mpjutrYzd
</li><li>vats	vats
</li><li>guglielmi	gugliElmi
</li><li>goodstein	gUdstYn
</li><li>comtrex	kAmtrEks
</li><li>fairman	fYrm^n
</li><li>roulston	rWlst^n
</li><li>vanatta	vAnAt^
</li><li>rica's	rik^z
</li><li>ollie's	Aliz
</li><li>plotter	plAtr
</li><li>rouge	ruZ
</li><li>congresswomen	kANgr^swImIn
</li><li>anzaldua	AnzAldu^
</li><li>presuppose	pris^poz
</li><li>bellas	bEl^z
</li><li>gulf's	g^lfs
</li><li>vandagriff	vandagrIf
</li><li>autopsies	OtApsiz
</li><li>litem	lYtEm
</li><li>gomorrah	g^mOr^
</li><li>delee	dEli
</li><li>marya	mArj^
</li>
{% endblock page_content %}