{% extends "base.html" %}

{% block page_content %}
<li>parametric	pEr^mEtrIk
</li><li>nankai	naNkY
</li><li>stronghold	strONhold
</li><li>juju	JuJu
</li><li>santon	sant^n
</li><li>quartermaster	kwOrtrmastr
</li><li>emswiler	EmzwYlr
</li><li>hokenson	hAkIns^n
</li><li>winnipeg	wInIp^g
</li><li>giannetti	J^nEti
</li><li>oyen	yIn
</li><li>tours	tUrz
</li><li>deis	diz
</li><li>arneson	ArnIs^n
</li><li>preferred	pr^frd
</li><li>widens	wYd^nz
</li><li>melanesians	mEl^niZ^nz
</li><li>encouraged	EnkrIJd
</li><li>nineties'	nYntiz
</li><li>addresses	adrEsIz
</li><li>nycum	nIk^m
</li><li>barch	bArk
</li><li>femina	fEmIn^
</li><li>makings	mekINz
</li><li>genius	Jinj^s
</li><li>carron	kar^n
</li><li>headlight	hEdlYt
</li><li>sweeden	swid^n
</li><li>linux	lIn^ks
</li><li>shrikelike	SrYklYk
</li><li>downey	dWni
</li><li>machineries	m^Sinriz
</li><li>sills	sIlz
</li><li>groma	grAm^
</li><li>practicing	praktIsIN
</li><li>contrition	k^ntrIS^n
</li><li>rattray	ratre
</li><li>afflik	aflIk
</li><li>abscam	abskam
</li><li>gauche	goS
</li><li>hooker's	hUkrz
</li><li>usec	jusEk
</li><li>upset	^psEt
</li><li>ratkowski	r^tkOfski
</li><li>bazan	bez^n
</li><li>kalan	kel^n
</li><li>bugh	bjug
</li><li>melrod	mElrAd
</li><li>unemployment	^nImplym^nt
</li><li>warehoused	wErhWzd
</li><li>lask	lask
</li><li>ranging	renJIN
</li><li>salemme	salIm
</li><li>minoso	m^noso
</li><li>kibbutzim	kIbUtsIm
</li><li>valiant	valj^nt
</li><li>farmers'	fArmrz
</li><li>palafox	pal^fAks
</li><li>jaeckel	jEk^l
</li><li>skipworth	skIpwrT
</li><li>feature	fiCr
</li><li>hopkins	hApkInz
</li><li>idiosyncrasy	IdiosInkr^si
</li><li>misused	mIsjuzd
</li><li>raby	rebi
</li><li>warn	wOrn
</li><li>pei's	pez
</li><li>schaff	Saf
</li><li>interracial	IntrreS^l
</li><li>dauer	dWr
</li><li>fast-paced	fastpest
</li><li>tentacles	tEnt^k^lz
</li><li>calculators	kalkj^letrz
</li><li>non-building	nAnbIldIN
</li><li>gotti's	gAtiz
</li><li>eustachian	justeki^n
</li><li>fours	fOrz
</li><li>hulslander	h^lsl^ndr
</li><li>danca	dANk^
</li><li>optic	AptIk
</li><li>dominant	dAm^n^nt
</li><li>gloomy	glumi
</li><li>rolfe	rolf
</li><li>hat's	hats
</li><li>shipyards	SIpjArdz
</li><li>pettit	pEtIt
</li><li>cluster	kl^str
</li><li>short	SOrt
</li><li>zhenyu	ZEnju
</li><li>cannister	kanIstr
</li><li>pricked	prIkt
</li><li>weisman	wYsm^n
</li><li>branstetter	branstItr
</li><li>geitz	gYts
</li><li>doorsteps	dOrstEps
</li><li>bibi's	bIbiz
</li><li>receipt	rIsit
</li><li>cacaci	k^kAsi
</li><li>saluting	s^lutIN
</li><li>sundell	s^nd^l
</li><li>showcasing	SokesIN
</li><li>pluralize	plUr^lYz
</li><li>rigid	rIJ^d
</li><li>wilthew	wIlTju
</li><li>schwarzkopf	SwOrtskOpf
</li><li>keynes	kenz
</li><li>grosz	gros
</li><li>goudeau	gudo
</li><li>bronder	brAndr
</li><li>hinkelman	hINk^lm^n
</li><li>nuzzle	n^z^l
</li><li>nickelodeon	nIkIlodi^n
</li><li>altom	^ltAm
</li><li>commonsensical	kAm^nsEnsIk^l
</li><li>visitors	vIzItrz
</li><li>abrahams	ebr^hamz
</li><li>plague	pleg
</li><li>riddance	rId^ns
</li><li>argo	Argo
</li><li>sirianni	sIriAni
</li><li>dispelled	dIspEld
</li><li>helping	hElpIN
</li><li>maretta	mArEt^
</li><li>choy	Cy
</li><li>glauber	glWbr
</li>
{% endblock page_content %}