{% extends "base.html" %}

{% block page_content %}
<li>wrecker	rEkr
</li><li>rusk	r^sk
</li><li>prudence	prud^ns
</li><li>huckster	h^kstr
</li><li>waldrip	wOldr^p
</li><li>kemerer	kEmrr
</li><li>ragel	reg^l
</li><li>locomotor	lok^motr
</li><li>underline	^ndrlYn
</li><li>prudently	prud^ntli
</li><li>botham's	bAT^mz
</li><li>taken	tek^n
</li><li>lafortune	lAfrtun
</li><li>lifeboat	lYfbot
</li><li>uncomplete	^nk^mplit
</li><li>rottman	rAtm^n
</li><li>ceraceous	sreS^s
</li><li>synchronic	sINkrAnIk
</li><li>tourneys	turniz
</li><li>gargano	gArgAno
</li><li>taormina	tAOrmin^
</li><li>thanked	TaNkt
</li><li>harpist	hArpIst
</li><li>leathers	lEDrz
</li><li>zarro	zAro
</li><li>rimmer	rImr
</li><li>handymen	handimEn
</li><li>gyr	JYr
</li><li>beacher	biCr
</li><li>craib	kreb
</li><li>ladino	l^dino
</li><li>agriculture	agrIk^lCr
</li><li>manzella	manzEl^
</li><li>lambright	lambrYt
</li><li>sheba	Sib^
</li><li>sommer	s^mr
</li><li>otis	otIs
</li><li>issuance	ISu^ns
</li><li>rizo	rizo
</li><li>bigram	bYgram
</li><li>balcom	balk^m
</li><li>dagestan	dagEstan
</li><li>verhoff	vrhOf
</li><li>rumania	rumeni^
</li><li>attendee	^tEndi
</li><li>rubell	rub^l
</li><li>pieties	pY^tiz
</li><li>apprenticed	^prEnt^st
</li><li>massie	masi
</li><li>petunias	p^tuni^z
</li><li>g.	Ji
</li><li>collaborate	k^labret
</li><li>profiling	profYlIN
</li><li>willhoite	wIlhyt
</li><li>spaz	spaz
</li><li>gaile	gel
</li><li>telephone's	tEl^fonz
</li><li>justifies	J^st^fYz
</li><li>juanita	wAnit^
</li><li>stamler	stamlr
</li><li>kohrs	kOrz
</li><li>venard	vEnrd
</li><li>tramontano	trAmontAno
</li><li>refinance	rif^nans
</li><li>doxology	dAksAl^Ji
</li><li>news's	nuzIz
</li><li>lamoreaux	lamro
</li><li>culvahouse	k^lv^hWs
</li><li>de-excite	diIksYt
</li><li>gilboy	gIlby
</li><li>gerlock	grl^k
</li><li>pox	pAks
</li><li>misapply	mIs^plY
</li><li>meineke	mYnIki
</li><li>provincetown	prAv^nstWn
</li><li>pang	paN
</li><li>calvillo	kAlvIlo
</li><li>zylstra	zIlstr^
</li><li>miscue	mIskju
</li><li>aristocratic	rIst^kratIk
</li><li>quickens	kwIk^nz
</li><li>manhart	manhArt
</li><li>treichler	trYk^lr
</li><li>farruggia	fArugJ^
</li><li>blading	bledIN
</li><li>bowater	bW^tr
</li><li>adachi	AdAki
</li><li>skied	skid
</li><li>quotient	kwoS^nt
</li><li>alfono	alfono
</li><li>initiators	InISietrz
</li><li>pataki's	p^tAkiz
</li><li>keatley	kitli
</li><li>sidey	sYdi
</li><li>crackle	krak^l
</li><li>limping	lImpIN
</li><li>respess	respIs
</li><li>lecomte	lIkAmt
</li><li>cruisers	kruzrz
</li><li>todd's	tAdz
</li><li>yacoub	jakWb
</li><li>stanislav	stanIslAv
</li><li>brann	bran
</li><li>mcaleese's	m^k^lisiz
</li><li>batts	bats
</li><li>nextel	nEkstEl
</li><li>patridge	patrIJ
</li><li>deboy	dIby
</li><li>marcos's	mArk^sIz
</li><li>celestine	CElEstini
</li><li>salespeople	selzpip^l
</li><li>karls	kArlz
</li><li>contradicted	kAntr^dIkt^d
</li><li>ducks'	d^ks
</li><li>escher	ESr
</li><li>restless	rEstl^s
</li><li>mickish	mIkIS
</li><li>guandjong	gwAnJoN
</li><li>rinderer	rIndrr
</li><li>ward	wOrd
</li><li>sahli	sAli
</li><li>skunks	sk^Nks
</li><li>hamlet	haml^t
</li><li>lott's	lAtz
</li><li>turtleneck	trt^lnEk
</li>
{% endblock page_content %}