{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Modules {% endblock title %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content %}

<h1>Modules</h1>

<p>Here is where you you can gain knowledge to aquire more skills that will help you with your case!</p>

<h2> Completed Modules </h2>

{% if modules %}
	{% for m in modules %}
		{% if m < user_permissions %}
			<li> <a href={{'url_for(m.module)'}}> {{ m.module }} </a></li>
		{% else %}
			<li> None </li>
		{% endif %}
	{% endfor %}
{% endif %}
	<!--li>Module 2</li>
	<li>Module 3</li-->


<h2> Unfinished Modules </h2>


	<li> <a href={{'url_for((m.query.filter_by(permissions=user_permissions).first()).module)'}}> </li>
	<!--li>Final Module</li-->
{% if modules %}
	{% for m in modules %}
		{% if m > user_permissions %}
			<li> <a href={{'url_for(m.module)'}}> {{ m.module }} </a></li>
		{% endif %}
	{% endfor %}
{% endif %}




{%- endblock page_content %}