{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Modules {% endblock title %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content %}

<h1>Modules</h1>

<p>Here is where you you can gain knowledge to aquire more skills that will help you with your case!</p>

<h2> Completed Modules </h2>


	<li>Module 1</li>
	<li>Module 2</li>
	<li>Module 3</li>


<h2> Unfinished Modules </h2>


	<li>Epic Module</li>
	<li>Final Module</li>




{%- endblock page_content %}