{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Modules {% endblock title %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content %}

<h1> Module 1: Ngrams! </h1>

<h2> What is an Ngram </h2>

<p>[Enter Content Here]</p>

<h2> How are Ngrams used? </h2>

<p> Blah Blah Blah </p>

<h2> Another section </h2>

<p> More text </p>


{% endblock page_content %}