{% extends "modules.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block module_intro %}
<h2> The {{title}} feature: What is it? </h2>

<p>A <i>part of speech</i> is what is commonly referred to as a <i>grammatical category</i>.  You have probably heard of many of these, and may have been introduced to some of them during your syntax day at this camp.  Some of the more common parts of speech include:</p>

<li>Common noun (NN)</li>
<li>Present tense verb (VB)</li>
<li>Adjective (JJ)</li>
<li>Determiner (DT)</li>
<li>Adverb (RB)</li>
<li>Modal (MD)</li>

<p>Each of these deserves a little explanation.</p>

<h2> Understanding the {{title}} feature and how it's used. </h2>

<p></p>

{% endblock module_intro %}

{% block demonstration %}
<h2> Demonstration </h2>
Part of Speech for the word "noodle":
<div id='collapse-me', class='accordion-body collapse'>
<br>
<samp>Noun Phrase</samp>
</div>

<br><button type="button" class="btn-info", id="collapser">peek <i class="fa fa-arrow-up"></i></button>
{% endblock demonstration %}

{% block demo_scripts %}
<script>
// Handle button
$('#collapser').on('click', function(e) {
    e.preventDefault();
    $('#collapse-me').collapse('toggle');
});
// Handle clicks within div
$('#collapse-me').on('click', function(e) {
  $(this).collapse('toggle');
});
</script>
{% endblock demo_scripts %}
