{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block styles -%}
{{ super() }}
<link href="{{url_for('static', filename='css/definition_list.css')}}" rel="stylesheet">
{%- endblock styles %}

{% block page_content -%}


<h1>{{ current_user.username }}'s Profile</h1>


<dl>
    <dt>Username:</dt>
    <dd>{{current_user.username}}</dd>
    <dt>Rank:</dt>
    <dd>{{current_user.rank}}</dd>
    <dt>Level:</dt>
    <dd>{{current_user.level}}</dd>
	  <dt>Next Rank:</dt>
	  <dd>Assistant Detective</dd>
    <dt>Latest Skill:</dt>
    <dd>????</dd>
    <dt>Next Skill:</dt>
    <dd>????</dd>
</dl>

{%- endblock page_content %}
