{% extends "projects.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block project_intro %}
<h2>Sentiment Analysis Activity</h2>

<p>Add positive and negative words into the appropriate sections; these are marked by **** asterisks.</p>
{% endblock project_intro %}

{% block demonstration %}
<iframe src="https://trinket.io/embed/python/81ea65aaeb" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
{% endblock demonstration %}

{% block demo_scripts %}

  
{% endblock demo_scripts %}